#main-container {
    display: grid;
    grid-template-rows: 90px 15% 70%;
    height: 100vh;
    position: relative;

    // GENERAL para todos los botones del header
    button {
        width: 100%;
        height: 100%;
        background-color: cadetblue;
        color: black;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            font-weight: 800;
        }
    }

    #header,
    #spell-manager,
    #book-container {
        box-sizing: border-box;
    }

    #previous-page-button {
        position: absolute;
        top: 52%;
        width: 50px;
        height: 25px;
        background-image: url(../images/up-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(-90deg);
        background-color: rgb(84, 55, 11);
        box-shadow: -3px -3px 3px rgba(0, 0, 0, 1);
        opacity: 0.65;

    }

    #next-page-button {
        position: absolute;
        top: 52%;
        right: 0px;
        width: 50px;
        height: 25px;
        background-image: url(../images/up-arrow.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(90deg);
        background-color: rgb(84, 55, 11);
        z-index: 20;
        box-shadow: 3px -3px 3px rgba(0, 0, 0, 1);
        opacity: 0.65;
    }
}