// #spells-container idealmente se convertira en las "paginas"
// Es el padre de todos los hechizos
#spells-container {
    flex-basis: auto;
    display: grid;
    gap: 8px;
    width: 100%;
    padding: 10px;
    background-color: rgb(187, 116, 35);
    border-top: 5px black double;
    overflow: auto;

    .spell-card {
        border: 2px solid black;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        overflow: hidden;
        // Se asigna compact-view por default
        // Se asigna escuela de magia

        .spell-level {
            position: absolute;
            width: 60px;
            height: 60px;
            right: 10px;
            top: 160px;
            font-size: 36px;
            line-height: 50px;
            font-weight: 600;
            text-align: center;
            background-image: url('../images/Nivel.png');
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 5;
        }

        .spell-title {
            display: grid;
            grid-template-columns: 75% 5% 10% 10%;
            grid-template-rows: 60px 60px;
            column-gap: 5px;
            position: sticky;
            top: 0px;
            border: 2px solid black;
            border-radius: 10px;
            padding-left: 5px;
            background-color: white;

            .spell-title-text {
                text-shadow: white 0px 0px 10px;
                grid-row: 1 / 3;
                overflow: auto;
                position: relative;
                /* Agregar posición relativa */

                h3 {
                    font-size: 26px;
                    font-style: italic;
                    position: sticky;
                    top: 0px;
                    padding-left: 10px;
                    background-color: white;
                    /* Agregar fondo blanco para cubrir el contenido */
                    z-index: 2;
                    /* Asegurar que el nombre esté por encima del contenido */
                }

                p {
                    font-size: 17px;
                    color: black;
                    font-weight: 500;
                }
            }

            .view-button-spell {
                width: 45px;
                height: 45px;
                border: 2px black solid;
                border-radius: 50%;
                cursor: pointer;
                position: absolute;
                top: -5px;
                right: 15%;
                background-color: grey;
                z-index: 2;

                img {
                    width: 100%;
                }
            }

            .prepared-spells {
                position: absolute;
                top: 70px;
                right: 50px;
            }

            .favorite-spells {
                position: absolute;
                top: 70px;
                right: 5px;
            }

            .toggle-button {
                color: red;
                width: 40px;
                height: 40px;
                border: 2px black solid;
                border-radius: 50%;
                align-self: center;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }

        .spell-illustration {
            display: flex;
            // grid-template-rows: 200px;
            margin-top: 10px;
            border: 2px solid black;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;

            p {
                font-size: 20px;
                color: red;
            }
        }

        .spell-attributes {
            font-size: 12px;
            padding: 10px;
            padding-left: 25px;
            height: 120px;
            overflow-y: auto;
            /* Agregar overflow-y a auto */
        }

        .spell-box-description {
            font-size: 16px;
            padding: 10px;
            height: 300px;
            overflow-y: auto;
            /* Agregar overflow-y a auto */
        }

        .spell-extra {
            flex: 1;
            min-height: 5%;
            max-height: 5%;
            display: none;
        }
    }
}

.change-view-spell .spell-attributes,
.change-view-spell .spell-box-description {
    display: none;
}

.favorite-spell {
    background-color: yellow;
}
.prepared-spell {
    background-color: rgb(152, 90, 124);
}

// // estilos correspondientes segun escuela de magia
// .abjuration {
//     background-color: rgba(0, 60, 255, 0.5);
// }

// .divination {
//     background-color: rgba(211, 211, 211, 1);
// }

// .conjuration {
//     background-color: rgba(0, 128, 0, 1);
// }

// .enchantment {
//     background-color: rgba(255, 255, 0, 1);
// }

// .evocation {
//     background-color: rgba(255, 0, 0, 0.5);
// }

// .illusion {
//     background-color: rgba(128, 0, 128, 1);
// }

// .necromancy {
//     background-color: rgb(54, 43, 55, 1);
// }

// .transmutation {
//     background-color: rgba(255, 166, 0, 1);

// }




#search-input {
    position: absolute;
    width: 100px;
    left: 0px;
}